[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kulewa9212
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kulewa9212
	label-Verified = -1..+1 group user/kulewa9212
	push = group user/kulewa9212
	read = group user/kulewa9212
	rebase = group user/kulewa9212
	removeReviewer = group user/kulewa9212
	submit = group user/kulewa9212
[access "refs/heads/*"]
	create = group user/kulewa9212
	push = +force group user/kulewa9212
	pushMerge = group user/kulewa9212
	read = group user/kulewa9212
[access "refs/tags/*"]
	push = group user/kulewa9212
	push = +force group user/kulewa9212
